
.jwplayer.jw-skin-customskin .jw-icon-rewind {
    display: none;
}

.jwplayer.jw-skin-customskin .jw-background-color {
    background-color: mediumslateblue;
}

.jwplayer.jw-skin-customskin {
    height: 40;     
    width: 100%;
}